<!DOCTYPE html>
<html>
    <head>
        <title>Redirect Page</title>
    </head>
    <body>
        <h1 id='result'>Login Successful</h1>
        <p>Secrets and env has been updated, now go and do your development!</p>
        <h1 id="num">{{data}}</h1>
    </body>
    <script>

<!--        window.onload = function() {-->
<!--          setTimeout(function() {-->
<!--            var num = document.getElementById('num').innerHTML;-->

<!--            var xhr = new XMLHttpRequest();-->
<!--            xhr.open("GET", "/shutdownserver");-->
<!--            xhr.setRequestHeader('Content-Type', 'application/json');-->
<!--            xhr.send(JSON.stringify({num: num}));-->

<!--          }, 2000); // 2000 milliseconds = 2 seconds-->
<!--        };-->
    </script>
</html>